<p> Dear [Mr./ Ms. {{name}} {{surname}}]    [Member id: {{id}}] </p>
<p>-------------------------------------------------------------------------------</p>

<p> We want to annoucement to you about your reservation in CAMT Library </p>
<p> Now you have the overdue borrowed book in the system </p>
<p> Please don't forget to return the book to the library. If you return the book </p>
<p> after the return date, you should pay the fined 15 Baht per day that you late </p>

<p>-------------------------------------------------------------------------------</p>
<p> Regard </p>
<p> Admin Library </p>